<header>
    <div class="bg-wrap">
        <div class="bg"></div>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Autoscuola & agenzia Romildo</h1>
            <hr class="light">
            <h2><em>...tradizione e innovazione, dal 1927</em></h2>
            <br>
            <a href="#story" class="page-scroll">
                <button class="btn btn-primary">
                    <i class="fa fa-angle-down fa-2x"></i>
                </button>
            </a>  
        </div>
    </div>
</header>
