<section class="servizi" id="servizi">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center text-black"><b>I nostri servizi</b></h2>
                <hr>
                <p>
                    I servizi della nostra <b>Scuola Guida</b>:
                    <ul>
                        <li>
                            Corsi teorici e pratici per patenti di tutte le categorie
                        </li>
                        <li>
                            Corsi recupero punti per patenti di tutte le categorie
                        </li>
                        <li>
                            Corsi rdi conseguimento e di rinnovo C.Q.C (Carte di Qualificazione del Conducente)
                        </li>
                        <li>
                            Rinnovo patenti di tutte le categorie con medico in sede
                        </li>
                        <li>
                            Duplicati patenti per smarrimento e deterioramento
                        </li>
                        <li>
                            Prenotazioni di visite mediche per patenti speciali presso la C.M.L di Novara
                        </li>
                        <li>
                            Rilascio e rinnovo della carta del conducente per cronotachigrafo digitale
                        </li>
                        <li>
                            Pratiche auto/moto di ogni tipo (Immatricolazioni, trasferimenti di proprietà)
                        </li>
                    </ul>
                </p>
                <hr>
                <p>
                    I servizi della nostra <b>Agenzia pratiche auto</b>:
                    <ul>    
                        <li>
                            Prenotazione di revisioni e di collaudi presso la Motorizzazione di Novara
                        </li>
                        <li>
                            Visure PRA
                        </li>
                        <li>
                            Visure CCIAA
                        </li>
                    </ul>
                </p>
            </div>
        </div>  
    </div>
</section>
