<section class="servizi" id="servizi">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center text-black"><b>I nostri servizi</b></h2>
                <hr>
                <p>
                    I servizi della nostra <b>Scuola Guida</b>:
                    <ul>
                        {% for member in site.data.servizi_scuola %}
                        <li>
                            {{ member.servizio }}
                        </li>
                        {% endfor %}
                    </ul>
                </p>
                <br>
                <p>
                    I servizi della nostra <b>Agenzia pratiche auto</b>:
                    <ul>
                        {% for member in site.data.servizi_agenzia %}
                        <li>
                            {{ member.servizio }}
                        </li>
                        {% endfor %}
                    </ul>
                </p>
                <br>
                <p>
                    <a href="#contatti">Contattaci</a> per avere più informazioni
                </p>
            </div>
        </div>  
    </div>
</section>
