<section class="story" id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center text-black"><b>La nostra storia</b></h2>
                <hr>
                <p>
                    Nel lontano 1927 lo <b><i>Zio Romildo</i></b>, personaggio eccentrico che indossava sempre i pantaloni alla zuava, fondo' l'autoscuola che ancora oggi porta il suo nome. </br>
                    </br> 
                    La patente a quei tempi era cosa per pochi...anzi pochissimi! </br>
                    </br>
                    Per fortuna dagli anni '50 il nostro Paese cominciò a vivere il <i>Miracolo economico</i> che piano piano porto' l'automobile all'interno della maggior parte delle 
                    famiglie italiane.</br>
                    </br> 
                    All'inizio degli anni '70 il signor <i><b>Gino Mazzocchi</i></b>, nipote dello Zio Romildo, cominciò a svolgere il ruolo di istruttore di guida presso l'autoscuola di famiglia, 
                    per poi nel 1981 rilevarne l'attività. Il lavoro proseguì a gonfie vele coadiuvato da Daniela,la moglie di Gino, e da vari collaboratori che si sono alternati 
                    nel tempo. </br></br>
                    Tra la fine degli anni '90 e l'inizio del nuovo millennio si affacciarono al mondo dell'autoscuola prima Claudio e poi Luca, i figli di Gino e Daniela, che 
                    oggi portano avanti l'attività di famiglia con competenza e entusiasmo.</br> 
                    </br>
                    Dal 2013 la società: <i><b>Mazzocchi S.A.S.</i></b> gestisce anche l'autoscuola Nuova Remigio di Gozzano. </br>
                    </br>
                    La nostra società aderisce al <a href="http://www.campnovara.it/">Consorzio CAMP</a> di Novara per il conseguimento delle patenti superiori e delle carte di qualificazione del conducente. 
                    Siamo inoltre agenzia pratiche auto <a href="http://www.aci.it/i-servizi/guide-utili/guida-pratiche-auto/sportello-telematico-dellautomobilista-sta.html">S.T.A.</a> (sportello telematico 
                    dell'automobilista) autorizzata allo svolgimento di ogni tipo di pratica.
                </p>
            </div>
        </div>  
    </div>
</section>
